@font-face {
    font-family: Custom;
    src: url(../../../Gilroy-FREE/Gilroy-ExtraBold.otf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Custom, sans-serif;
}
.Home{
    margin: 0 auto;
    display: flex;
    align-items: center;
    background-color: #018029;
}
.part1{
    align-items: center;
    justify-content: center;
    margin: 40px;
    padding-left: 200px;
    font-size: 28px;
    color: white;
}
.logo{
    height: 120px;
    width: 180px;
    display: flex;
    margin-left: 120px;

}
.tag{
    margin-left: 120px;
}
.google_store{
    width: 167px;
    height: 49px;
    margin-left: 120px;
}
.apple_store{
    width: 167px;
    height: 49px;
}
.part2{
    display: flex;
    padding-left: 500px;
}    
.HomeAside{
    height: 535px;
    width: 520px;
    align-items:end;
}
.secondcard{
    justify-content: space-evenly;
    margin: 0 auto;
}
.line1{
    text-align: center;
    justify-items: center;
    display:flex;
    margin:0 auto;
}
.offers{
    display: flex;
    justify-content: space-evenly;
}
.food[class*="food"]{
    width: 400px;
    height: 400px;

}