@font-face {
    font-family: gilroy;
    src: url(../../../Gilroy-FREE/Gilroy-ExtraBold.otf);
}
@font-face {
    font-family: custom;
    src: url(../../../Gilroy-FREE/Gilroy-Light.otf);
}

*{
    font-family: gilroy, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid black; */
}
.main{
    background-color: #018029;
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 0 0 0 100px;
}
.home{
    margin: 0 0 0 100px;
    
}
.home2{
    margin: 0 100px 0 0;
    padding: 20px 50px 0 50px;
}
.logo{
    height: 105px;
    width: 172px;
}
.tag{
    font-size: 65px;
    color: white;
}
.google{
    height: 51px;
    width: 165px;
    margin: 0 20px 0 0;
}
.apple{
    height: 51px;
    width: 165px;
    margin: 0 20px 0 0;
}
.mainphoto{
    width: 620px;
    height: 600px;
    padding: 0 10px 0 0;
    justify-self: baseline;
    margin: 0 0 0 100px;
}
.line1{
    margin: 80px 0 50px 0px;
    justify-items: center;
}
.card[class*="card"]{
    background-color: #e4f5ec;
    border: 15px;
    border-radius: 20px;
    margin: 25px 25px 25px 50px;
}
.offer{
    justify-items: center;
    justify-content: center;
    display:flex;
    align-items: center;
    margin: 0 auto;
    height: 300px;
    width: 400px;
}
.textblock1{
    margin-top: 50px;
    font-size: 24px;
    justify-items: center;
    padding: 5px 35px 10px 35px
}
.textblock2{
    font-family: custom, sans-serif;
    font-size: 18px;
    justify-items: center;
    padding-bottom: 50px;
    font-weight: 300;
}
.offers{
    justify-content: center;
    justify-items: center ;
    display: flex;
    align-items: center;
}

.dishes{
    margin-top: 50px;
    /* justify-content: center; */
    justify-items: center;
    align-items: center;
}
.food[class*="food"]{
    width: 250px;
    height: 250px;
}
.foods{
    margin: 50px 0px 0px 0px;
}
.foodlist{
    justify-items: center;
    align-items: center;
    margin: 0 auto;
}
.footer{
    display: block;
    block-size: auto;
    background-color: #e4f5ec;
    justify-items: center;
    align-items: flex-end;
    justify-content: space-evenly;
    margin: 0 auto;
}
.bottomlogo{
    margin: 20px 750px 10px 300px;
    justify-content: center;
    align-items: center;
    padding: 100px 100px 10px 300px;
}
.policy{
    margin: 20px 600px 0 300px;
    justify-content: center;
    align-items: center;
    padding: 10px 100px 100px 300px;
}