*{
    margin: 0;
    padding: 0;
}

.next{
    position: relative;
    top: 500px;
    left: 1800px;
    z-index: 1;
}

.prev{
    position: relative;
    top: 500px;
    left: 100px;
    z-index: 1;
}

.slider img{
    display: none;
}

img.displaySlide{
    display: block;
}

.slider{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
}