*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: swiggy;
    src: url(./font/Gilroy-ExtraBold.otf);
}

@font-face {
    font-family: swiggylite;
    src: url(./font/Gilroy-Light.otf);
}

.hero{
    background-color: #FF5200;
    
}

.herologo img{ 
    height: 48px;
    width: 160px;
}

nav{
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    width: 80%;
    font-family: "swiggy";
}

nav a{
    text-decoration: none;
    font-size: 16px;
    color: white;
}

.nav2{
    width: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.getapp{
    border : 1px solid White;
    border-radius: 8px;
    height: 54px;
    width: 150px;
    display: flex;
    /* margin: 0 auto; */
    align-items: center;
    justify-content: center;
}

.signin{
    background-color: black;
    border-radius: 8px;
    height: 54px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.herocontent{
    /* display: flex; */
    /* flex-direction: column; */
    margin: 0 auto;
    justify-items: center;
}

.herotitle{
    font-family: "swiggylite";
    color: white;
    font-size: 48px;
    font-weight: 900;
    width: 70%;
    text-align: center;
    margin: 0 auto;
    /* font-style: bold; */
}

.herosearch{
    display: flex;
    flex: row;
}

.herolocation input{
    height: 60px;
    width: 302px;
}

.heroitem input{
    height: 60px;
    width: 484px;
}