*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: anton;
    src: url(./Anton-Regular.ttf);
}

@font-face {
    font-family: Tung;
    src: url(../Valo/Tungsten-Bold.ttf);
}

@font-face {
    font-family: Inter ;
    src: url(../Valo/Inter_18pt-Regular.ttf);
}

@font-face {
    font-family: gilroy;
    src: url(../CSS/Project/Swiggy/font/Gilroy-ExtraBold.otf);
}

.wid80{
    width: 80%;
    display: flex;
    justify-content: center;
}

.bgnavy{
    background-color: #8B1E2D;
}

.logo{
    font-family: anton;
    font-size: 42px;
    letter-spacing: 1.5px;
}

.custom-bg{
    background-color: #F4D35E;
    color: #8B1E2D;
}

.Hero{
    font-size: 120px;
    animation: font-change 1s infinite;
    
}
.role{
    font-size: 32px;
}

.chei{
    height: 20rem;
}

.dark{
    background-color: brown;
    color: white;
}

.black{
    background-color: black;
    color: white;
}

.aboutimg img{
    height: 500px;
    width: 450px;
}

.contact{
    background-color: #8B1E2D;
    color: white;
}

.submit{
    color: #F4D35E;
    background-color: #8B1E2D;
}

.submit:hover{
    color: #F4D35E;
    background-color:black;
}

@keyframes font-change{
    20%{
        font-family: gilroy;
    }
    40%{
        font-family: Inter;
    }
    60%{
        font-family: tung;
    }
    80%{
        font-family: anton;
    }
}