.table{
    background-color: darksalmon;
    border: 1px solid black;
}
a{
    text-decoration: none;
}
.nav{
    background-color: darkseagreen;
}
.display{
    background-color: whitesmoke;
}